*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainblock{
    width: 100%;
    height: 100vh;
    background-color: grey;
}

.mainblock>article>aside{
    width: 80%;
    height: 10vh;
    margin: auto;
    background-color: rgb(217, 203, 48);
    display: flex;
    align-items: center;


    /* justify-content: space-around;
    justify-content: space-between; */
    justify-content: space-evenly;
    /* justify-content: flex-start; */


    flex-direction: row;
    flex-wrap: nowrap;
    
}

.items1{
    background-color: blueviolet;
}
.items2{
    background-color: rgb(28, 211, 62);
    /* order: 1; */
    /* flex-shrink: 0; */
}
.items3{
    background-color: rgb(56, 192, 133);
}
.items4{
    background-color: rgb(49, 43, 226);
    /* flex-grow: 1; */
}
.items5{
    background-color: rgb(226, 43, 226);
    /* order: 3; */
}
.items6{
    background-color: rgba(226, 43, 43, 0.747);
}
.items7{
    background-color: rgb(43, 226, 198);
    /* order: 2; */
}
.items8{
    background-color: rgb(38, 172, 45);
    flex-shrink: 0;  
    /* reduce the window-size for the result */
}

